html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.image {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='600' viewBox='0 0 800 600'%3E%3Cdefs%3E%3ClinearGradient id='gradient' gradientTransform='rotate(45)'%3E%3Cstop offset='0%' stop-color='%23ffe699'/%3E%3Cstop offset='50%' stop-color='%23ff6174'/%3E%3Cstop offset='100%' stop-color='%230087ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='800' height='600' fill='url(%23gradient)'/%3E%3Ccircle cx='400' cy='300' r='180' fill='%23a8daff'/%3E%3Ccircle cx='250' cy='250' r='100' fill='%23ffcc70'/%3E%3Ccircle cx='550' cy='350' r='120' fill='%2311c4ff'/%3E%3Ccircle cx='350' cy='500' r='150' fill='%23ffc700'/%3E%3Cpolygon points='400,100 600,300 500,500 300,500 200,300' fill='%23ffa6ff'/%3E%3Cpolygon points='400,100 300,300 400,500 600,400 800,200' fill='%23ff52a8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
