.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 600px;
  height: 600px;
  background-color: blue;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle::before,
.circle::after {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.circle::before {
  width: 250px;
  height: 250px;
  top: 30%;
  left: 10%;
}

.circle::after {
  width: 250px;
  height: 250px;
  top: 30%;
  right: 10%;
}

.circle::before,
.circle::after {
  transform: translateX(-50%);
}

.circle::before {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.circle::after {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

.face {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.eye {
  position: absolute;
  width: 30px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.eye.left {
  left: 30px;
}

.eye.right {
  right: 30px;
}

.eye::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouth {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teeth {
  position: absolute;
  width: 10px;
  height: 25px;
  background-color: white;
  top: 50%;
  transform: translateX(-50%);
}

.teeth.top {
  left: 50%;
}

.teeth.bottom {
  left: 50%;
  top: 70%;
}
